<%- include("../partials/header") %>
<style>
  .body{
    background-image: url("https://media.istockphoto.com/vectors/vector-set-of-design-templates-and-elements-for-ecommerce-in-trendy-vector-id1096460950?k=20&m=1096460950&s=612x612&w=0&h=_yO8WlG0MNhAEk_SxjH1gTlMIqGA2lws_K09XnBp-7k=");    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
</style>
<div class="container">
  <%- include("../partials/flash") %>

  <form class="validated-form" action="/login" method="POST" novalidate>
    <h1 style="text-align: center; color: #293462;" class="heading">E-Commerce</h1>
    <br><br>
    <div class="mb-3" style="color: #D61C4E">
      <label for="email" class="form-label">Email </label>
      <input type="email" class="form-control" id="email" name="email" required />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="mb-4 login-div" style="color: #D61C4E">
      <label for="username" class="form-label">Username: </label>
      <input type="text" class="form-control" id="username" name="username" required />
    </div>
    <div class="mb-4" style="color: #D61C4E">
      <label for="password" class="form-label">Password: </label>
      <input type="password" class="form-control" id="password" name="password" required />
    <br />
    <button type="submit" class="btn btn-login">Login</button>
    <p class="new-user">Not a menber? <a href="/register">Sign-up</a></p>
  </form>
</div>
<!-- <br><br><br><br> -->

<footer class="footer py-0.1 mt-20 text-center" style="width: 100%">
  <div class="container">
    <span class="text-muted">Copyright &copy; E-Commerce by Vishruti</span>
  </div>
</footer>

<%- include("../partials/footer") %>
