<%- include("../partials/header") %>



<div class="container">
  <%- include("../partials/flash") %>

  <form class="validated-form" action="/register" method="POST" novalidate>
    <h1 style="text-align: center; color: #293462" class="heading">Sign In</h1>
    <br><br>
    <div class="mb-4" style="color:#293462">
      <label for="email" class="form-label">Email </label>
      <input type="email" class="form-control" id="email" placeholder="Enter E-mail " name="email" required>
    </div>
    <div class="mb-4" style="color: #293462">
      <label for="username" class="form-label">Username: </label>
      <input type="text" class="form-control" id="username" placeholder="Enter Username " name="username" required>
    </div>
    <div class="mb-4" style="color: #293462">
      <label for="password" class="form-label">Password: </label>
      <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password" required>
    </div>
    <br />
    <button type="submit" class="btn-login">Sign up</button>
  </form>
</div>

<%- include("../partials/footer") %>
