    <%- include('./partials/header')  %> 
    
    <div class="container mt-3">
        <%- include('./partials/flash')  %> 
        <h1 style="text-align: center; color: red; font-weight: 800; font-size: large;">This is error page</h1>

    </div>

    

    <%- include('./partials/footer')  %> 
