@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@500&display=swap');
img{
    height: 180px;
    padding: 7px;
}
body{
    background-color: rgb(252, 251, 250);
}
.card{
    height: 360px;
    /* width: 100px; */
    border-radius: 15px;
    /* text-align: center; */
    margin: 15px;
}
.heading{
    margin-top: 2%;
    font-family: 'Bungee', cursive;
    color: #3fa796;
}

.validated-form{
    margin-top: 4%;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(63, 167, 150,0.6);
    box-shadow: 5px 5px 5px rgb(0, 0, 0,0.5);
}
.login-div{
    margin-top: 5%;
}
.form-label{
    margin-top: 2%;
    font-family: 'Inter', sans-serif;

}
.form-control{
    width: 80%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    margin-top: 2% !important;
}
.btn-login{
    width: 80%;
    height: 45px;
    background-color: #3fa796;
    border: #3fa796;
    font-weight: bold;
    color: white;
    margin-bottom: 3%;

}
.btn-login:hover{
    font-weight: bold;
    width: 80%;
    height: 45px;
    background-color: #3fa796;
    border: #3fa796;
    box-shadow: 5px 5px 5px rgb(0, 0, 0,0.5);
    color: white;
}

.add-btn{
    margin-top: 2%;
    width: 80%;
    height: 45px;
    background-color: #3fa796;
    border: #3fa796;
    font-weight: bold;
    color: white;
    margin-bottom: 2% !important;
}

.add-btn:hover{
    font-weight: bold;
    width: 80%;
    height: 45px;
    background-color: #3fa796;
    border: #3fa796;
    box-shadow: 5px 5px 5px rgb(0, 0, 0,0.5);
    color: white;
}

.delete-btn{
    width: 15%;
    margin-left: 85%;
    margin-right: 2%;
    margin-top: 2%;
    border: none;
    background-color: white;
    color: rgb(244, 62, 62);
    font-size: 23px;

}

.back-btn{
    margin-left:2%;
    font-size: 25px;
    margin-top: 2%;
    color: #3fa796;

}

.price{
    border: 1px solid black;
    display: inline-block;
    padding: 5px;
}
.review-div{
    margin-top: 5%;
    font-size: 20px;
}
.buy-btn{
    margin-top:3%;
    width: 50%;
}
.btns{
    margin-top: 25vh;
}
